-- SQL-миграции.
-- Не имеют возможности отката.

-- Рекомендуемая шапка миграции:

-- SET NAMES 'utf8';
-- SET TIME_ZONE = '+00:00';
-- SET FOREIGN_KEY_CHECKS = '0';
-- SET SQL_MODE = 'NO_AUTO_VALUE_ON_ZERO';

-- Далее, прописываем весь SQL-код, который должен быть применен в миграции
-- Важно помнить, что есть ряд плейсхолдеров:
--      - {table_prefix} - префикс таблицы

-- SQL
-- КОД
-- ТУТ
-- !
