.selectize-control .option .title {
    display: block;
}

.selectize-control .option .url {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
}

.selectize-control .item a {
    color: #006ef5;
}

.selectize-control .item.active a {
    color: #303030;
}