/* Messaging styles */

table.thread-list .thread-line td span.controls {
    text-align: center;
    display: block;
}

table.thread-list .thread-line td span.controls a.reply,
table.thread-list .thread-line td span.controls a.edit,
table.thread-list .thread-line td span.controls a.delete,
table.thread-list .thread-line td span.controls span.date {
    display: inline-block;
    font-size: 10px;
    padding: 3px;
    font-weight: bold;
}

table.thread-list .thread-line td span.controls a.reply,
table.thread-list .thread-line td span.controls a.edit,
table.thread-list .thread-line td span.controls a.delete {
    text-transform: uppercase;
    color: #1976d2;
    text-decoration: none;
    cursor: pointer;
}

table.thread-list .thread-line td span.controls a.reply:hover,
table.thread-list .thread-line td span.controls a.edit:hover,
table.thread-list .thread-line td span.controls a.delete:hover {
    text-decoration: underline;
}

table.thread-list .thread-line td {
    font-size: 14px;
}

table.thread-list .thread-line.outcoming td span.controls,
table.thread-list .thread-line.incoming td span.controls {
    text-align: right;
}

table.thread-list .thread-line.outcoming td>span:before,
table.thread-list .thread-line.incoming td>span:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
}

table.thread-list .thread-line.outcoming td>span:before {
    left: 17px;
    border-right: 10px solid #f1f2f6;
}

table.thread-list .thread-line.incoming td>span:before {
    right: 17px;
    border-left: 10px solid #a4b0be;
}

table.thread-list .thread-line.outcoming td>span,
table.thread-list .thread-line.incoming td>span {
    text-align: left;
    display: block;
    width: 70%;
    max-width: 450px;
    background-color: #f1f2f6;
    color: #333333;
    border-radius: 10px;
    padding: 10px;
}

table.thread-list .thread-line.incoming td>span {
    background-color: #a4b0be;
}

table.thread-list .thread-line.status td,
table.thread-list .thread-line.status td span.controls span.date {
    text-align: center;
}

table.thread-list .thread-line.status td {
    font-size: 12px;
}

table.thread-list .thread-line.outcoming td span.controls span.date,
table.thread-list .thread-line.incoming td span.controls span.date {
    text-align: right;
}

table.thread-list .thread-line.outcoming td>span {
    margin: 0 auto 0 0;
}

table.thread-list .thread-line.incoming td>span {
    margin: 0 0 0 auto;
}

table.thread-list .thread-line.remove td>span {
    color: #ffffff;
}

table.thread-list .thread-line.outcoming.remove td>span {
    background-color: #ff4757;
}

table.thread-list .thread-line.incoming.remove td>span {
    background-color: #ff6b81;
}

table.thread-list .thread-line.outcoming.remove td>span:before {
    border-right: 10px solid #ff4757;
}

table.thread-list .thread-line.incoming.remove td>span:before {
    border-left: 10px solid #ff6b81;
}